* {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.container {
  width: 100%;
  height: 300%;
  text-align: center;
  display: inline-block;
  position: absolute;
}

.page {
  width: 100%;
  height: 33.33333%;
  margin: 0;
  background-color: #99ccff;
}

.page:nth-child(2) {
  background-color: #99ffcc;
}

#title {
  font-family: "Space Mono", monospace;
  width: 100%;
  margin: auto;
  color: #99ffcc;
  font-size: 5em;
  vertical-align: middle;
  text-shadow: -5px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -4px -1px 0 #000;
  animation: 1s slide-down ease-in-out forwards;
}

#input-insulin {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 10%;
  margin: auto;
  background-color: white;
  margin-left: 25%;
  margin-top: 15%;
  border-style: solid;
  border-color: black;
  border-radius: 2em;
  border-width: 0.2em;
  box-shadow: 0 0 0 0.5em #99ffcc, 0 0 0 0.7em black;
  text-align: center;
  padding-bottom: 2%;
}

#input-insulin p {
  margin-top: 10%;
  margin-left: 10px;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
}

#input-insulin input {
  float: inline-start;
  outline: none;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  text-align: center;
  border-bottom: solid 2px #99ffcc;
  margin-right: 20px;
}

#input-insulin button {
  margin-left: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0.2em #99ffcc, 0 0 0 0.3em black;
}

#input-insulin button:hover {
  text-shadow: -3px 2px #99ccff;
  box-shadow: 0 0 0 0.2em #99ccff, 0 0 0 0.3em black;
}

#track-meal {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5%;
  margin: auto;
  background-color: white;
  margin-left: 25%;
  margin-top: 10%;
  border-style: solid;
  border-color: black;
  border-radius: 2em;
  border-width: 0.2em;
  box-shadow: 0 0 0 0.5em #99ccff, 0 0 0 0.7em black;
  text-align: center;
  padding-bottom: 2%;
}

#track-meal p {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
}

#track-meal input {
  float: inline-start;
  outline: none;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  text-align: center;
  border-bottom: solid 2px #99ccff;
  margin-right: 20px;
}

#track-meal button {
  margin-left: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0.2em #99ccff, 0 0 0 0.3em black;
}

#track-meal button:hover {
  text-shadow: -3px 2px #99ffcc;
  box-shadow: 0 0 0 0.2em #99ffcc, 0 0 0 0.3em black;
}

#inputs-container {
  animation: 1s fade-in ease-in-out forwards;
  text-align: left;
  width: 50%;
  margin: auto;
  margin-top: 7%;
  border-style: solid;
  border-color: black;
  border-radius: 2em;
  border-width: 0.2em;
  box-shadow: 0 0 0 0.5em #99ffcc, 0 0 0 0.7em black;
  background-color: white;
  transition: top 1s linear;
}

#inputs-container h1 {
  font-family: "Space Mono", monospace;
  margin-top: 1em;
  text-align: center;
}

#inputs-container #warning {
  font-family: "Space Mono", monospace;
  font-size: 0.75em;
  text-align: center;
}

button {
  font-family: "Space Mono", monospace;
  width: 50%;
  margin-left: 23%;
  bottom: 1px;
  margin-top: 50px;
  border: solid 0.1em black;
  border-radius: 5em;
  box-shadow: 0 0 0 0.2em #99ffcc, 0 0 0 0.3em black;
  font-size: 2em;
  padding: 0.1em 1em;
  color: black;
}

button:nth-child(odd) {
  margin-bottom: 50px;
}

button:hover {
  text-shadow: -3px 2px #99ccff;
  box-shadow: 0 0 0 0.2em #99ccff, 0 0 0 0.3em black;
}

#submit {
  width: 25%;
  font-size: 1.5em;
  border: solid 0.1em black;
  border-radius: 5em;
  box-shadow: 0 0 0 0.2em #99ccff, 0 0 0 0.3em black;
  padding: 0.1em 0.5em;
  color: black;
}

#submit:hover {
  text-shadow: -3px 2px #99ccff;
  box-shadow: 0 0 0 0.2em #99ffcc, 0 0 0 0.3em black;
}

#back-to-top {
  margin-left: 0;
  margin-bottom: 0;
  background-color: white;
}

.row {
  margin-bottom: 1em;
}

#results {
  margin: 0;
  padding: 0;
  position: relative;
  top: 20.5%;
  width: 100%;
  height: 50%;
}

.result {
  width: 30%;
  height: 80%;
  margin: 40px 21px;
  background-color: white;
  float: left;
  vertical-align: middle;
  border: solid black 2px;
  border-radius: 2em;
  box-shadow: 0 0 0 0.2em #99ccff, 0 0 0 0.3em black;
  color: #99ccff;
}

.result:nth-child(odd) {
  box-shadow: 0 0 0 0.2em #99ffcc, 0 0 0 0.3em black;
}

.result:nth-child(odd) h1 {
  color: #99ffcc;
}

.result h1 {
  font-family: "Space Mono", monospace;
  font-size: 3em;
  margin-top: 30px;
  text-shadow: -4px 1px 0px #000, 1px 1px 0 #000, 1px -1px 0 #000, -2px -1px 0 #000;
}

.result p {
  padding: 50px;
  font-size: 1.5em;
}

#appear-on-extend {
  opacity: 0;
}

.extend {
  animation: 0.75s extend ease-in-out forwards;
}

.appear {
  animation: 1.2s appear ease-in-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-3em);
  }
  70% {
    transform: translateY(0.5em);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  50% {
    opactiy: 30%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes extend {
  from {
    height: 5%;
  }
  to {
    height: 12%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #title {
    font-size: 2em;
  }
  #inputs-container {
    margin-top: 30%;
    width: 70%;
  }
  #inputs-container h1 {
    font-size: 1.2em;
    margin: 0 5px;
  }
  #inputs-container p {
    font-size: 0.75em;
    margin: 0 10px;
    margin-top: 5px;
  }
  #track-meal {
    margin-top: 40%;
    margin-left: 15%;
    width: 70%;
    height: 10%;
  }
  #track-meal p {
    font-size: 1.2em;
  }
  #track-meal input {
    width: 30%;
  }
  #track-meal button {
    width: 50%;
    font-size: 1em;
  }
  #input-insulin {
    margin-top: 60%;
    margin-left: 15%;
    width: 70%;
    height: 10%;
  }
  #input-insulin p {
    font-size: 1.2em;
  }
  #input-insulin input {
    width: 30%;
  }
  #input-insulin button {
    width: 50%;
    font-size: 1em;
  }
  button {
    font-size: 1em;
  }
  @keyframes extend {
    from {
      height: 10%;
    }
    to {
      height: 20%;
    }
  }
}
